<% provide(:title, 'About') %>

<h1>Hello there,</h1>
<p>This web site was developed by Dmitri Severinov as a Ruby on Rails self-study project. You can contact author by emailing dmitry.severinov on Gmail</p>

