<footer class="footer">
  <small>
    Created by <a href="http://www.linkedin.com/in/dmitryseverinov">Dmitri Severinov</a> | Special thanks to <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
</footer>
